.profile-img{
    text-align: center;
    margin: 0 0 1rem;
    img{
        width: 100px;
        height: 100px;
        border-radius:50%;
        object-fit: cover;
        object-position: top center;
    }
}
.name{
    text-align: center;
    font-size: 1.5rem;
    color: #101010;
    margin-top: 8px;
}
.age{
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 0.75rem;
}

.user-stat{
    text-align: center;
    p{
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    h5{
        margin-top: 4px;
        font-weight: 700;
        color: #555;
        font-size: 1rem;
    }
}