<!-- Page Heading -->
<div class="mb-4">
  <h2 class="page-title text-center">
    <i class="fa fa-fw fa-medkit"></i> Your Health Card
  </h2>
</div>

<!-- Page content -->
<div class="page-content p-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            <div class="profile-img">
              <img class="shadow-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSM14_MN5kT6RnhDLrWySmdAtB-7CNmSqXQA_u1ZKsruXM4DjOt" alt="">
             <div class="name">
              {{user?.name}}
             </div>
                <span class="age">
                 {{user?.age}} years old
                </span>

            </div>
            <div class="user-stat">
              <p>
               Diseases Name
              </p>
              <h5>
                {{this.user.disease}}
              </h5>
            </div>
            <div class="user-stat">
              <p>
               Diseases Probability
              </p>
              <h5>
                {{this.probability}}
              </h5>
            </div>
           
           <div class="user-details">
             <h4 class="text-center mt-3 mb-4">
               More Details:
             </h4>

            <div class="row">
              <div class="col-md-6">
                <div class="detail">
                  <strong>
                    Age:
                  </strong>
                  {{user?.age}} Years
                </div>
                <div class="detail">
                  <strong>
                    Region:
                  </strong>
                  {{user?.census_region}}
                </div>
                <div class="detail">
                  <strong>
                    Martial Status:
                  </strong>
                  {{user?.marital_status}}
                </div>
                <div class="detail">
                  <strong>
                    Race:
                  </strong>
                  {{user?.race}}
                </div>
                <div class="detail">
                  <strong>
                    Gender:
                  </strong>
                  {{user?.gender}}
                </div>
                <div class="detail">
                  <strong>
                    Income Segment:
                  </strong>
                  {{user?.income_segement}}
                </div>
                <div class="detail">
                  <strong>
                    Current Income:
                  </strong>
                  {{user?.current_income}} USD
                </div>

              </div>
              <div class="col-md-6">
                <div class="detail">
                  <strong>
                    Employement Status:
                  </strong>
                  {{user?.employement_status}}
                </div>
                <div class="detail">
                  <strong>
                    Insaurance Coverage:
                  </strong>
                  {{user?.insurance_coverage}}
                </div>

                <div class="detail">
                  <strong>
                    Current Health Status:
                  </strong>
                  {{user?.health_status}}
                </div>
                <div class="detail">
                  <strong>
                    Current Mental Health Status:
                  </strong>
                  {{user?.mental_health_status}}
                </div>

              </div>
            </div>
           </div>
             </div>
      </div>
    </div>
  </div>
</div>
