<!-- Page Heading -->
<div class="mb-4">
  <h2 class="page-title text-center">
    <i class="fa fa-fw fa-medkit"></i> Your Health Card
  </h2>
</div>

<!-- Page content -->
<div class="page-content">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
            <div class="profile-img">
              <img class="shadow-sm" src="https://images.pexels.com/photos/3116381/pexels-photo-3116381.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
             <div class="name">
               John Rogan
             </div>
                <span class="age">
                 26 years old
                </span>
              
            </div>
 
            <div class="user-stat">
              <p>
               Diseases Probability
              </p>
              <h5>
                Lorem, ipsum dolor.
              </h5>
            </div>
            <div class="user-stat">
             <p>
               Expected Finance to be Managed
             </p>
             <h5>
               Lorem ipsum dolor sit amet consectetur.
             </h5>
           </div>
             </div>
      </div>
    </div>
  </div>
</div>
