.login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #153141e3, #15413ee8), url(/assets/img/login-bg.jpg);
    background-position: center;
}