  <!-- Page Heading -->
  <div class="mb-4">
    <h2 class="page-title text-center"><i class="fa fa-fw fa-pencil-square"></i>
     Edit Profile</h2>
  </div>

  <!-- Page content -->
  <div class="page-content">
      <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                  <form>
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">What is your age?</label>
                            <input formControlName="age" type="number" id="input-first-name" class="form-control" placeholder="Enter your age" value="">
                           
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="form-control-label" for="region">Which Census region do you belong to? (Please choose one that applies) </label>
                            <select formControlName="course_name" id="region" class="form-control">
                                <option value="" selected>Select your region</option>
                                <option value="">North-east</option>
                                <option value="">Mid-west</option>
                                <option value="">South</option>
                                <option value="">West</option>
                                <option value=""> None of the Above</option>
                                </select>
                           
                          </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">What is your Marital Status? (Please choose one that applies)</label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your martial status</option>
                                  <option value="">Married </option>
                                  <option value="">Widowed </option>
                                  <option value="">Divorced </option>
                                  <option value="">Separated </option>
                                  <option value="">Never Married  </option>
                                  <option value="">Inapplicable (age < 16)  </option>
                                  <option value=""> Do not wish to provide  </option>
                                  </select>
                             
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">Please choose the race that you identify yourself closest with: </label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your race</option>
                                  <option value="">Hispanic  </option>
                                  <option value="">White  </option>
                                  <option value="">Black or African American  </option>
                                  <option value="">American Indian, Alaskan Native or Multiple races  </option>
                                  <option value="">Asian, Hawaiian, or Pacific Islander   </option>
                                  <option value=""> Other   </option>
                                  </select>
                             
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">Please choose the gender you identify yourself closest to: </label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your gender</option>
                                  <option value="">Male  </option>
                                  <option value="">Female  </option>
                                  <option value="">Non-Binary  </option>
                                  
                                  </select>
                             
                            </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group">
                              <label class="form-control-label" for="input-first-name">Please indicate the number of years of education completed. </label>
                              <input formControlName="age" type="number" id="input-first-name" class="form-control" placeholder="Enter your age" value="">
                             
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">What is your current employment status? (Please choose one that applies)  </label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your employment status</option>
                                  <option value="">Permanently Employed   </option>
                                  <option value="">Returning to Job after break   </option>
                                  <option value="">Temporarily Employed   </option>
                                  <option value="">Unemployed   </option>
                                  <option value=""> Do not wish to provide    </option>
                                  </select>
                             
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">What type of Insurance coverage do you have? (Please choose one that applies)  </label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your Insurance coverage</option>
                                  <option value="">Private  </option>
                                  <option value="">Public </option>
                                  <option value="">Uninsured </option>
                                  
                                  </select>
                             
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">Please indicate the income segment you most closely identify with. </label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your Income segment</option>
                                  <option value="">Negative or Poor  </option>
                                  <option value="">Below Poverty Line </option>
                                  <option value="">Low Income </option>
                                  <option value="">Middle Income </option>
                                  <option value=""> High Income  </option>
                                  </select>
                             
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">Please indicate your current health status.  </label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your  Current health status</option>
                                  <option value="">Excellent</option>
                                  <option value="">Very Good</option>
                                  <option value="">Good</option>
                                  <option value="">Fair</option>
                                  <option value="">Poor</option>
                                  </select>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="martial">Please indicate your current mental health status.</label>
                              <select formControlName="course_name" id="martial" class="form-control">
                                  <option value="" selected>Select your  Current mental health status</option>
                                  <option value="">Excellent</option>
                                  <option value="">Very Good</option>
                                  <option value="">Good</option>
                                  <option value="">Fair</option>
                                  <option value="">Poor</option>
                                  </select>
                            </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group">
                              <label class="form-control-label" for="input-first-name">Please enter your current income. </label>
                              <input formControlName="age" type="number" id="input-first-name" class="form-control" placeholder="Enter your age" value="">
                             
                            </div>
                          </div>

                    </div>
                  
          

                    <div class="text-center">
                      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div> 
          </div>
      </div>
                    
                    </div>
                 
        