  <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h2 page-title"><i class="fa fa-fw fa-tachometer"></i>
        HEALTH FINANCE Dashboard</h1>
      <!-- <a (click)="send()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white"><i class="fa fa-plus fa-sm text-white-50"></i> Connect</a> -->
    </div>

    <!-- Content Row -->
    <div class="container-fluid">
    <div class="row stats-column">

      <div class="col-lg-2 col-md-4 mb-4" *ngFor="let item of cardData;">
        <div class="card border-left-black shadow h-100 py-2">
          <div class="card-body">

                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">{{item.title}}</div>
                <div class="h5 text-center">&#x24; {{item.value | number:'.1-2'}}</div>

          </div>
        </div>
      </div>

    </div>
  </div>

    <!-- Content Row -->
    <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-lg-8">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Expenses related to the disease</h6>

          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-area">
              <div id="graphic"></div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Health Card</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="profile-img">
                    <img class="shadow-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSM14_MN5kT6RnhDLrWySmdAtB-7CNmSqXQA_u1ZKsruXM4DjOt" alt="">
                   <div class="name">
                     <!-- {{user?.name}} -->
                     {{this.user?.name}}
                   </div>
                      <span class="age">
                       <!-- {{user?.age}} years old -->
                       {{this.user?.age}} YEARS OLD
                      </span>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="user-stat">

                    <div class="single-chart">
         <svg viewBox="0 0 36 36" class="circular-chart green">
           <path class="circle-bg"
             d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
           />
           <path class="circle"
             attr.stroke-dasharray="{{this.probability}}, 100"
             d="M18 2.0845
               a 15.9155 15.9155 0 0 1 0 31.831
               a 15.9155 15.9155 0 0 1 0 -31.831"
           />
           <text x="18" y="20.35" class="percentage">{{this.probability}}%</text>
         </svg>
       </div>
       <p>
        Diseases <br> Probability
       </p>
                  </div>
                </div>
              </div>
             <div class="user-stat">
              <p>
                Disease Name
              </p>
              <h5>
                {{this.disease}}
              </h5>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-sm btn-primary mt-4" routerLink="/admin/health-card">See More</button>
            </div>
              </div>
            </div>
          </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Cost Forecasting related to the Disease</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body" id="lineChartWrap">
              <div class="chart-area">
                <div id="graphicLine"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>


