
  <!-- Page Heading -->
  <div class="mb-4">
    <h2 class="page-title"><i class="fa fa-fw fa-upload"></i>
      Upload Genome Data</h2>
  </div>

  <!-- Page content -->
  <div class="page-content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <form>
                    <label class="form-control-label" for="file">Upload File here</label>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <input formControlName="age" type="file" id="file" class="form-control">
                          </div>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn  btn-primary">Submit</button>
                        </div>
                      </div>
                   
                  </form>
                </div>
              </div>
        </div>
        <div class="col-12">
<!-- DataTales Example -->
<div class="card shadow mt-5 mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Uploaded Data</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
         
          <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
        </div>
    </div>
    </div>
  </div>